/* main.css */

$darker-bg: #25274D;
$dark-bg : #464866;
$med-bg : #AAABB8;
$bright : #2E9CCA;
$inactive : #29648A;

$dark-text : #FFF;
$distinct-color : #f6f9fc;

// https://webgradients.com/
//019 background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
@mixin malibu {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4facfe+0,00f2fe+100 */
  background: rgb(79,172,254); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(79,172,254,1) 0%, rgba(0,242,254,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(79,172,254,1) 0%,rgba(0,242,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(79,172,254,1) 0%,rgba(0,242,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4facfe', endColorstr='#00f2fe',GradientType=1 ); /* IE6-9 */
}

@mixin malibu-bg-color {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4facfe+0,00f2fe+100 */
  background-color: rgb(79,172,254); /* Old browsers */
  background-color: -moz-linear-gradient(left, rgba(79,172,254,1) 0%, rgba(0,242,254,1) 100%); /* FF3.6-15 */
  background-color: -webkit-linear-gradient(left, rgba(79,172,254,1) 0%,rgba(0,242,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background-color: linear-gradient(to right, rgba(79,172,254,1) 0%,rgba(0,242,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4facfe', endColorstr='#00f2fe',GradientType=1 ); /* IE6-9 */
}

@mixin plumPlate {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#667eea+0,764ba2+100 */
  background: rgb(102,126,234); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(102,126,234,1) 0%, rgba(118,75,162,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(102,126,234,1) 0%,rgba(118,75,162,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(102,126,234,1) 0%,rgba(118,75,162,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#667eea', endColorstr='#764ba2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@mixin distinct {
  background-color: #f6f9fc;
}

@mixin subtle-dropshadow {
  -webkit-box-shadow: 0 4px 4px rgba(100, 100, 100, 0.49);
  -moz-box-shadow:    0 4px 4px rgba(100, 100, 100, 0.49);
  box-shadow:         0 4px 4px rgba(100, 100, 100, 0.49);
}